.app-page {
  width: 75%;
  display: inline-block;
  vertical-align: top;
   h2, h3, h4, h5 {
    font-weight: normal;
    color: #1f2f3d;
  }
  p {
    margin: 1em 0;
    font-size: 14px;
    color: #5e6d82
  }
}