
@font-face {
  font-family: 'dhArt-icon';  /* project id 589895 */
  src: url('//at.alicdn.com/t/font_589895_86j4gx2x401kyb9.eot');
  src: url('//at.alicdn.com/t/font_589895_86j4gx2x401kyb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_589895_86j4gx2x401kyb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_589895_86j4gx2x401kyb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_589895_86j4gx2x401kyb9.svg#dhArt-icon') format('svg');
}

