$default-header-background-color: #ffffff;
$default-header-font-color: #48576a;
$default-header-border-color: #dfe6ec;
$default-header-border: 1px solid $default-header-border-color;
$default-body-background-color: #fbfdff;

$dark-header-background-color: #404040;
$dark-header-font-color: #ffffff;
$dark-header-border-color: #2E2E2E;
$dark-header-border: 1px solid $dark-header-border-color;
$dark-body-background-color: #202020;
.dhArt-collapse {
  .dhArt-collapse__animation {
    transition: .3s all ease-in-out;
  }
  .dhArt-collapse-item {
    position: relative;
  }
  .dhArt-collapse__header {
    position: relative;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    background: $default-header-background-color;
    color: $default-header-font-color;
    cursor: pointer;
    border-bottom: $default-header-border;
    .dhArt-collapse__header-label {
      position: absolute;
      top: 0;
      left: 16px;
    }

    .dhArt-collapse__header-spin {
      position: absolute;
      top: 0;
      right: 16px;
      height: 24px;
      width: 24px;
      text-align: right;
      >span {
        display: block;
        transform: rotate(180deg);
        transition: .3s transform ease-in-out;
        &.is-rotate {
          transform: rotate(0deg);
        }
        > i {
          font-family:"dhArt-icon" !important;
          font-size: 24px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &::before {
            content: '\e622'
          }
        }
      }

    }
  }
  .dhArt-collapse__body {
    padding: 8px 16px;
    background: $default-body-background-color;
  }
  &-theme {
    .dhArt-collapse__header {
      background-color: $dark-header-background-color;
      color: $dark-header-font-color;
      border-bottom: $dark-header-border;
    }

    .dhArt-collapse__body {
      color: #fff;
      background: $dark-body-background-color;
    }
  }
}