.dhArt-input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 0;
  font-size: 14px;
  box-sizing: border-box;
  .dhArt-input-prefix  {
    font-size: 14px;
    padding: 0 8px;
    text-align: center;
  }
  .dhArt-input-suffix {
    font-size: 14px;
    padding: 0 8px;
    text-align: center;
  }
  .dhArt-input-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    &__prepend {
      padding-right: 8px;
    }
    &__input {
      flex: 1;
    }
    &__append {
      padding-left: 8px;
    }
  }
  .dhArt-input__border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #404040;
  }
  .dhArt-input__transition {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #23C132;
    transition: all .45s cubic-bezier(.23,1,.32,1) 0ms
  }
  input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 3px 0;
    color: #BBBBBB;
  }
}